<div class="block">
    <div class="location" *ngIf="city_data">
        <div class="row m-0">
            <div class="col-6">
                <h4><i class="mdi mdi-map-marker"></i> Location</h4>
                <p>{{city_data.name}},</p>
                <p *ngIf="city_data.state_name">{{city_data.state_name}}</p>
                <p>{{city_data.country_name}}</p>
            </div>
            <div class="col-6">
                <i class="mdi mdi-window-close" [routerLink]="['/home']"></i>
            </div>
        </div>

    </div>
    <div class="estab">
        <div class="row m-0">
            <div class="location">
                <h4><i class="mdi mdi-food"></i> Establisments</h4>
            </div>
            <div *ngFor="let item of establishment_data" class="col-lg-2 col-6">
                <mat-card>
                    <mat-checkbox (change)="Selected_data(item,'establishments')"
                        [checked]="selected_estb == item.establishment.id">
                        <img src="assets/images/dummy.png">
                        <div class="name">
                            {{item.establishment.name}}
                        </div>
                    </mat-checkbox>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="estab">
        <div class="row m-0">
            <div class="location">
                <h4><i class="mdi mdi-food"></i> Cuisins</h4>
            </div>
            <div *ngFor="let item of cuisins_data" class="col-lg-2 col-6">
                <mat-card>
                    <mat-checkbox (change)="Selected_data(item,'cuisins')"
                        [checked]="selected__cuisins == item.cuisine.cuisine_id">
                        <img src="assets/images/dummy.png">
                        <div class="name">
                            {{item.cuisine.cuisine_name}}
                        </div>
                    </mat-checkbox>
                </mat-card>
            </div>
        </div>
    </div>
</div>